@keyframe leave{
	transform: translate;
}

@keyframe enter{

} 



body{
	margin: 0;
	padding: 0;
	position: relative;
	font-weight: bolder;
}


nav{
	width: 100%;
	display: block;
	height: 70px;
	background-color: #ff4547;
	margin: 0px;
	color: white;
}


ul{
	list-style-type: none;
	margin: 0px;
}


ul li{
	margin-bottom:20px;
}


/*.off{
	display: none;
}


.active{
	display: relative;
}*/



.resume{
	/*background-image: url(../images/aircraft.jpg);*/
	margin: 0px;
	color: white;
	background-size:cover;
}



.skills{
	font-size: 20px;
}