@keyframes leave{

form,to{
	display: none;
}
10%{
right:10%;
}
100%{
	left: 10%;
}
}

@keyframes enter{
 
     from,to{
            transform: rotateZ(0);
        }
        10%{
            transform: rotateZ(-10deg);
        }
        40%{
            transform: rotateZ(-30deg);
        }

        80%{
        	transform:rotateZ(30deg);
        }
        90%{
        	transform: rotateZ(10deg);
        }

}

@keyframes angle{
    to{
        transform: translateY(20px);
    }
} 

.enter_start{
	transition-property: transform;
	transition-duration: 1000ms;
	transition-timing-function: ease-in;
	transition-delay: 500ms;
}

.enter_animater{
	   animation: enter;
       animation-delay: 300ms;
       animation-duration: 1000ms;
       animation-timing-function: ease-in;
       animation-direction: alternate;
       animation-iteration-count: 1;
}

.enter_end{
	transform: translateX(-600px);
}



body{
	margin: 0;
	padding: 0;
	/*position: relative;*/
	font-weight: bolder;
}


nav{
	width: 100%;
	display: block;
	height: 70px;
	background-color: #ff4547;
	margin: 0px;
	color: white;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}


ul{
	list-style-type: none;
	margin: 0px;
}


ul li{
	margin-bottom:20px;
}



.resume{
	display: inline-block;
	margin: 0px;
	padding-top: 40px;
	position:relative;
	right:-600px;
	font-size: 20px;
}


.skills{
	font-size: 20px;
}


.personal-nav ul{
	position:relative;
	bottom: 200px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.personal-nav li{
	display: inline-block;
	margin: 30px;
	cursor: default;
}

.personal-nav i{
	margin-right: 10px;
}

.personal-nav li:hover{
	transform: scale(1.5) rotateZ(30deg);
	color: #2684e6;
}

.fa-angle-double-down{
    display: block;
    position:fixed;
    bottom: 30px;
    font-size: 40px;
    font-weight: bolder;
    width: 40px;
    height: 40px;
    right: calc(50% - 20px);
    color: #ff4547;
    transform: translateY(-20px);
    animation: angle  1000ms  ease-in  200ms infinite alternate;
    cursor: default;
}

.skills{
    display: flex;
    display: -webkit-flex;
    justify-content:flex-start;
    flex-direction: row;
    width: 60%;
    flex-wrap: wrap;
}

.skills>div{
    width: 300px;
    height: 280px;
    border-top: 3px solid #ff4547;
    padding-top: 20px;
    margin-left: 20px;
    font-size: 28px;
    transition: all 1000ms ease-in 100ms;
}

.skills li{
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.skills li i{
    color: #2684e6;
}

.contain{
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            justify-content:space-around;
            height: 300px;
            width: 300px;
            transform: rotateZ(45deg);
            position: absolute;
            right: 100px;
            top:120%;

        }


        .items{
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
        }
        .items:nth-of-type(2){
            display: flex;
            display: -webkit-flex;
            justify-content: center;
        }
        .items>div{
            width: 100px;
            height: 100px;
            margin: 0;
            padding: 0px;
            display: inline-block;
            border-radius: 100px;
            background-color: #ff4547;
            text-align: center;
            transform: rotateZ(-45deg);
            color: white;
            transition-property: all;
            transition-delay: 300ms;
            transition-duration: 1000ms;
            transition-timing-function: ease-in;
        }
        .items>div:hover{
         transform:rotateZ(-405deg);
         background-color: #2684e6;
        }


        .items>div>span{
            margin-top: 40px;
            display:inline-block;
        }


.works{
    font-size: 30px;
}