@keyframes leave{

form,to{
	display: none;
}
10%{
right:10%;
}
}

@keyframes enter{

} 

body{
	margin: 0;
	padding: 0;
	position: relative;
	font-weight: bolder;
}


nav{
	width: 100%;
	display: block;
	height: 70px;
	background-color: #ff4547;
	margin: 0px;
	color: white;
}


ul{
	list-style-type: none;
	margin: 0px;
}


ul li{
	margin-bottom:20px;
}



.resume{
	margin: 0px;
	background-size:cover;
}



.skills{
	font-size: 20px;
}


